/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 19, 2014, 7:37:41 PM
    Author     : natthacha
*/
body{
    //background-color:#ddd;
    height:2000px;
}
.navbar-container{
    padding-top: 15px;
    padding-bottom: 15px;
    max-width: 1440px;
}
.navbar{
    font-family: ThaiSans;
    font-size: 20px;
    text-align: center;
    background-color: transparent;
}

.sign-in, .sign-up {

   margin-top: 8px;
   margin-bottom: 10px;
   margin-left:4px;
   margin-right:4px;
}
.navbar .btn {
    font-size: 18px;
    margin: 0px;
    padding:4px;
}
.hero{
    max-width: 1440px;
    min-height:600px;
   background-image:url('../img/bg-orangemeadow.jpg');
   background-size: cover;
   background-repeat: no-repeat;
   background-position: 50% 50%;
}
.landing{
    margin-top: 100px;
    text-align: center;
}
.landing h1{
   font-size: 60px;
}
.mixed-landing-forms{
    padding: 16px;
    border-radius: 3px;
    background: rgba(255,255,255,.5)
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Roboto Slab Bold.woff2') format('woff2');
}
.landing h2{
    margin-top: 10px;
}
.landing h3{
    margin-top: 10px;
    font-family: 'Roboto Slab';
    font-weight: 700;
    font-size:72px;
    color:#99CCFF;
}
.landing ul li {
    margin-bottom: 15px;
}
sup.apr{
    font-family: sans-serif;
    font-size: 14px;
    vertical-align: super;
}
.spacer-10{height: 10px;}
.spacer-20{height: 20px;}
.spacer-40{height: 40px}
.list-unstyled{
    text-align: left;
}
